In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn import linear_model
import joblib

In [2]:
df = pd.read_csv("student-mat.csv", sep=";")
df = df[["sex", "absences", "freetime", "Medu", "G1", "G2", "G3"]]
predict = "G3"

In [4]:
df["sex"].unique()

array(['F', 'M'], dtype=object)

In [5]:
df["sex"].unique()[0]

'F'

In [6]:
df["n_sex"] = [0 if i=="F" else 1 for i in df["sex"]]

In [7]:
df

    sex  absences  freetime  Medu  G1  G2  G3  n_sex
0     F         6         3     4   5   6   6      0
1     F         4         3     1   5   5   6      0
2     F        10         3     1   7   8  10      0
3     F         2         2     4  15  14  15      0
4     F         4         3     3   6  10  10      0
..   ..       ...       ...   ...  ..  ..  ..    ...
390   M        11         5     2   9   9   9      1
391   M         3         4     3  14  16  16      1
392   M         3         5     1  10   8   7      1
393   M         0         4     3  11  12  10      1
394   M         5         2     1   8   9   9      1

[395 rows x 8 columns]

In [8]:
X = np.array(df.drop([predict, "sex"], axis=1))
y = np.array(df[predict])

In [9]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)
model = linear_model.LinearRegression()
model.fit(x_train, y_train)
acc = model.score(x_test, y_test)
print(acc)

0.8824155976484263